@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <br />
    <br />
    <div style="opacity: 0.7; background-color: white; border-radius: 20px; padding: 5px;">
        <h2>Prepare to Serve</h2>
        <h3>Our Mission</h3>
        <p>
            Ready to serve a mission but don't know where to start? At Prepare to Serve,
            we aim to get the right information to you so you can feel confident when you apply.
            We provide fake information from fake missionaries that have recently returned from their
            missions.
        </p>
    </div>
</div>
