@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead" id="jumbotext">So you wanna go on a mission?!</p>
    <p><a href="@Url.Action("Index", "Mission")" class="btn btn-success btn-lg">Learn More Here! &raquo;</a></p>
</div>

<h2><em>Our goal is to help you learn the ins and outs of any mission where you may serve.</em></h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <h2>Learn</h2>

        <p>
            <em>“For he that diligently seeketh shall find; and the mysteries of God shall be unfolded unto them, by the power of the Holy Ghost, as well in these times as in times of old”</em>
        </p>
        <p>- 1 Nephi 10:19</p>
    </div>
    <div class="col-md-4">
        <h2>Love</h2>
        <p>
            <em>"But charity is the pure love of Christ, and it endureth forever; and whoso is found possessed of it at the last day, it shall be well with him."</em>
        </p>
        <p>- Moroni 7:47</p>
    </div>
    <div class="col-md-4">
        <h2>Serve</h2>
        <p>
            <em>“Perhaps I may be an instrument in the hands of God to bring some soul to repentance; and this is my joy.”</em>
        </p>
        <p>- Alma 29:9</p>
    </div>
</div>