
@{
    ViewBag.Title = "Index";
}
<div class=" jumbotron jumbotron2">
    <h1 id="center">Missions</h1>
    <p class="lead" id="jumbotext"></p>
<div class="container">
    <div class="col-md-5"></div>
    <div class="col-md-4">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle btn-lg" type="button" data-toggle="dropdown">
                Choose here
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Brazil", "MissionPage", "Mission", new { iMishName = "Brazil" }, null)</li>
                <li>@Html.ActionLink("New York", "MissionPage", "Mission", new { iMishName = "New York" }, null)</li>
                <li>@Html.ActionLink("Arizona", "MissionPage", "Mission", new { iMishName = "Arizona" }, null)</li>
            </ul>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
    
</div>

