
@{
    ViewBag.Title = "MissionPage";
}

<h2>@ViewBag.MishName Mission FAQ</h2>
<div class="row">
    <div class="col-md-6">
        <img src="~/Content/imgs/@ViewBag.Picture" class="img img-responsive img-rounded" />
    </div>
    <div class="col-md-6">
        <h4>Mission President</h4>
        <p>&emsp;@ViewBag.PresName</p>

        <h4>Mission Address</h4>
        <p>&emsp;@ViewBag.MishAddress</p>

        <h4>Mission Language</h4>
        <p>&emsp;@ViewBag.Language</p>

        <h4>Climate</h4>
        <p>&emsp;@ViewBag.Climate</p>

        <h4>Main Religion</h4>
        <p>&emsp;@ViewBag.Religion</p>

    </div>
</div>
